.team {
  background-color: $button-background;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  // margin-left: auto;
  // margin-right: auto;

  @media screen and (min-width:768px) {
  padding-top: 94px;
  padding-bottom: 94px;
  }
}
.team__title {
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: $primary-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 30px;

   @media screen and (min-width:768px) {
   margin-bottom: 50px;
   font-size: 36px;
   line-height: 1.16;
   }
}

.team__position {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__member {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  letter-spacing: 0.03em;
}
.team__list {
  padding: 0px;
  margin: 0px;

  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
     margin-top: -30px;
  }
}
.team__item {
 
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(15, 14, 14, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;

  &:nth-child(4n) {
    // margin-right: 0;
  }
  // width: 100%;
  &:not(:last-child) {
  margin-bottom: 30px;
  }

  width: 100%;
  &:not(:last-child) {
  margin-bottom: 30px;
  }
  @media screen and (min-width:768px) {
    width: 354px;
     &:not(:last-child) {
       margin-bottom: unset;
     }
     margin-left: 30px;
     margin-top: 30px;
  }
  @media screen and (min-width:1200px) {
    width: 270px;
  }
}

.team__photo {
  width: 450px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}


.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-bottom: 24px;
  margin-right: 32px;
  margin-left: 32px;
  list-style: none;
}
.actions-footer {
  @extend %list;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 206px;
  height: 44px;
}
.link > .link-icon {
  @include centeredFlex ();
  width: 44px;
  height: 44px;
}
.link > .link-icon-footer {
  @include centeredFlex ();
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color $timing-function;
}

.link > .link-icon:hover,
.link > .link-icon:focus {
  color: white;
  background-color: $accent-text-color;
  border-radius: 50%;
}
.link > .link-icon {
  color: #afb1b8;
  transition: color $timing-function;
}

.link > .link-icon > :hover,
.link > .link-icon:focus {
  color: #ffffff;
}

.link > .link-icon-footer:hover,
.link > .link-icon-footer:focus {
  color: white;
  background-color: $accent-text-color;
  border-radius: 50%;
}
.link > .link-icon-footer {
  color: #afb1b8;

  transition: background-color $timing-function;
}

.link > .link-icon-footer > :hover,
.link > .link-icon-footer:focus {
  color: #ffffff;
}
.master-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.master-icon-footer {
  width: 20px;
  height: 20px;
  fill: $background-color;
}